a {
	text-decoration: none;
	color: #fafafa;
}

header {
	background-image: url("../../assets/bg_waves_35.png");
	background-color: #4700ff;

	padding: 40px 80px;
	color: #fafafa;

	height: 468px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	> nav,
	.btm-container {
		display: flex;
		justify-content: space-between;
	}

	> nav {
		align-items: center;
	}

	.btm-container {
		align-items: flex-end;
	}

	.logo,
	.description > h1 {
		font-family: Fira Sans;
		text-transform: uppercase;
	}

	.logo {
		font-size: 40px;
		font-weight: 900;
	}
}

nav {
	> ul {
		list-style: none;
		display: flex;
		gap: 40px;

		font-family: Fira Code;
		font-size: 16px;
		font-weight: 700;

		> li :hover {
			opacity: 0.5;
		}
	}
}

.description {
	display: flex;
	flex-direction: column;
	gap: 14px;

	> h1 {
		font-size: 32px;
		font-weight: 900;
		letter-spacing: 0.36px;
		line-height: 100%;
	}

	.name {
		display: flex;
		flex-direction: column;
	}

	.name > h2 {
		text-transform: none;
		font-size: 16px;
		font-weight: 700;
	}

	> p {
		font-size: 14px;
		font-weight: 500;
	}
}

.social-media-container {
	display: flex;
	gap: 32px;

	.social-media-icon {
		font-size: 25px;

		&:hover {
			opacity: 0.5;
		}
	}
}
