#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

h3 {
	color: #7f7f7f;
	font-size: 12px;
	font-weight: 500;
}

section.about {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.about-content {
	max-width: 980px;
	padding: 32px;
	border-radius: 8px;

	background-color: #0a0f0f;
	color: #fafafa;
	font-family: "Fira Code", monospace;

	& + .faq {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}

.groups-container {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;

	padding-top: 24px;
}

.stack-container {
	display: flex;
	gap: 12px;
	flex-direction: column;
}

.stack-group {
	display: flex;
	height: 100%;
	gap: 8px;
}

.stack {
	width: 86px;
	background-color: #1c2727;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 16px;
	border-radius: 16px;
	gap: 16px;

	> img {
		padding: 6px;
	}

	> p {
		text-align: center;
		font-size: 12px;
		font-weight: 600;
	}

	&:hover {
		background-color: #2b3c3c;
	}
}

/* FAQ SECTION */
.question-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 24px;
	border-radius: 8px;

	background-color: #151e1e;

	font-size: 14px;
	font-weight: 400;
	line-height: 150%; /* 21px */

	.answer {
		/* color: #7f7f7f; */
		opacity: 0.6;
		font-weight: 400;
	}

	&:hover {
		background-color: #2b3c3c;
	}
}
