:root {
	--text-black: #333333;
	--text-white: #fafafa;
	--text-grey: #7f7f7f;

	--accent-blue: #4700ff;

	--bg-light-main: #fafafa;
	--bg-light-secondary: #f0f2f5;

	--bg-dark-main: #000000;
	--bg-dark-secondary: #0a0f0f;
	--bg-dark-highlighted: #151e1e;
	--bg-dark-hover: ;
}

#root {
	width: 100%;
}

/* BUTTONS */
a.button {
	color: var(--text-white);
	padding: 16px 24px;
	border-radius: 8px;
	outline: none;
	border: none;

	font-family: Fira Code;
	font-size: 14px;
	font-weight: 600;

	&.main {
		background-color: var(--accent-blue);
	}

	&.secondary {
		background-color: var(--bg-dark-main);
	}

	&:hover {
		opacity: 0.5;
		cursor: pointer;
	}
}

/* PROJECTS */
section.projects {
	background-color: #fafafa;

	.featured-project {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 120px;
		padding: 120px 10vw;

		.title {
			> h1 {
				color: var(--accent-blue);
				font-family: Fira Code;
				font-size: 14px;
				font-weight: 500;
			}

			> h2 {
				color: var(--text-black);
				font-family: Fira Sans;
				font-size: 32px;
				font-weight: 800;
				text-transform: uppercase;
				text-align: center;
			}
		}

		.description {
			max-width: 464px;
			color: var(--text-black);
			text-align: center;

			font-family: Fira Sans;
			font-size: 18px;
			font-weight: 400;
			line-height: 150%; /* 27px */
		}

		.btn-container {
			display: flex;
			gap: 24px;
		}
	}
}

/* MORE PROJECTS */
.more-projects {
	background-color: var(--bg-light-secondary);
	padding: 80px 10vw;
	display: flex;
	flex-direction: column;
	gap: 32px;

	> h1 {
		color: var(--accent-blue);
		font-family: Fira Code;
		font-size: 14px;
		font-weight: 500;
	}

	.projects-container {
		display: flex;
		flex-direction: row;
		gap: 64px;

		.project {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 48px;

			> img {
				border-radius: 4px;
			}

			.content {
				display: flex;
				flex-direction: column;

				gap: 24px;
				color: var(--text-black);
				font-family: Fira Sans;

				> h2 {
					font-size: 18px;
					font-weight: 600;
					text-transform: none;
				}

				> p {
					font-size: 16px;
					font-weight: 400;
					line-height: 150%; /* 24px */
				}
			}

			.buttons {
				display: flex;
				flex-direction: row;
				gap: 24px;
			}
		}
	}
}

/* FOOTER */

footer {
	padding: 80px;

	color: #fafafa;
	background-color: black;
	font-family: Fira Code;

	> a {
		display: inline-block;
	}
	.logo {
		font-family: Fira Sans;
		font-size: 40px;
		font-weight: 900;
		text-transform: uppercase;
	}

	.btm {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.btm-left {
			width: 60%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.title-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				> h1 {
					font-family: Fira Sans;
					font-size: 16px;
					font-weight: 800;
					letter-spacing: 0.24px;
					text-transform: uppercase;
				}

				h2 {
					text-transform: none;
					font-weight: 500;
					font-size: 12px;
				}
			}

			.contact-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				font-size: 12px;
				font-weight: 500;
			}

			> nav > ul {
				flex-direction: column;
				justify-content: space-between;
				gap: 0;
			}

			> nav > ul ~ li {
				margin: 0;
				padding: 0;
			}

			> nav > ul > li > a {
				font-size: 12px;
				font-weight: 700;
			}
		}

		.btm-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			font-family: Fira Code;
			font-size: 12px;
			font-weight: 700;

			> a:hover {
				opacity: 0.5;
			}
		}
	}
}
