/*
INDEX
- BUTTONS
- HEADER
- PROJECTS
- MORE PROJECTS
- ABOUT
- FOOTER
*/

:root {
	--text-black: #333333;
	--text-white: #fafafa;
	--text-grey: #7f7f7f;

	--accent-blue: #4700ff;

	--bg-light-main: #fafafa;
	--bg-light-secondary: #f0f2f5;

	--bg-dark-main: #000000;
	--bg-dark-secondary: #0a0f0f;
	--bg-dark-highlighted: #151e1e;
	--bg-dark-hover: #2b3c3c;

	--font-main: Fira Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--font-accent: Fira Code, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	--bg-img-35: url("./assets/bg_waves_35.png");
	--bg-img-15: url("./assets/bg_waves_15.png");
	--bg-img-100: url("./assets/bg_waves_100.png");

	--font-size-14: 0.875rem;
	--font-size-16: 1rem;
	--font-size-18: 1.125rem;
}

/* BUTTONS */

.buttons-container {
	display: flex;
	flex-direction: row;
	gap: 24px;

	.button {
		color: var(--text-white);
		padding: 16px 24px;
		border-radius: 8px;

		font-family: var(--font-accent);
		font-size: var(--font-size-14);
		font-weight: 600;
	}

	.main {
		background-color: var(--accent-blue);
	}

	.secondary {
		background-color: var(--bg-dark-main);
	}
}

/* SOCIAL MEDIA */
.social-media-container {
	display: flex;
	gap: 32px;

	@media (max-width: 500px) {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}

	.social-media-icon {
		font-size: 25px;
		line-height: 100%;

		&:last-of-type:hover {
			opacity: 0.5;
		}
	}
}

/* HEADER */
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: var(--text-white);
	font-family: var(--font-accent);

	background-image: var(--bg-img-15);
	background-color: var(--bg-dark-main);

	height: 45vh;
	padding: 40px 80px;

	@media (max-width: 500px) {
		padding: 7vw;
		height: 100vh;
	}

	& nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 40px;

		@media (max-width: 500px) {
			flex-direction: row-reverse;
			align-items: flex-start;
		}

		.logo {
			font-family: var(--font-main);
			text-transform: uppercase;
			font-size: 40px;
			font-weight: 900;
			line-height: 100%;
		}

		& ul {
			display: flex;
			align-items: center;
			gap: 40px;

			font-weight: 700;

			@media (max-width: 500px) {
				flex-direction: column;
				align-items: start;
				gap: 16px;
			}
		}
	}

	.btm-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.description {
			display: flex;
			flex-direction: column;
			gap: 14px;

			.title {
				max-width: 13ch;
				font-family: var(--font-main);
				text-transform: uppercase;
				font-size: 2rem;
				font-weight: 800;
				letter-spacing: 0.36px;
			}

			.personal-data-container {
				display: flex;
				flex-direction: column;
				gap: 8px;

				.name {
					font-weight: 600;
				}

				.location-container {
					display: flex;
					align-items: center;
					gap: 8px;
					color: var(--text-grey);
					font-size: var(--font-size-14);

					> p {
						font-weight: 600;
						line-height: 100%;
					}
				}
			}
		}
	}
}

/* PROJECTS */
section.projects {
	background-color: var(--bg-light-main);
	font-family: var(--font-main);

	.featured-project {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 120px;
		padding: 120px 10vw;

		.title {
			> h1 {
				color: var(--accent-blue);
				font-family: var(--font-accent);
				font-size: var(--font-size-14);
				font-weight: 500;
			}

			> h2 {
				color: var(--text-black);
				font-size: 2rem;
				font-weight: 800;
				text-transform: uppercase;
				text-align: center;
			}
		}

		> img {
			width: 100%;
		}

		.description {
			max-width: 464px;
			color: var(--text-black);
			text-align: center;

			font-size: var(--font-size-18);
			font-weight: 400;
			line-height: 150%;
		}
	}
}

/* IMAGE COMPOSITION */
.main-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	height: 60vh;

	gap: 16px;

	> div {
		height: 100%;
	}

	> div > img,
	.right > div > img {
		object-fit: cover;
		/* border: 2px solid var(--bg-dark-main); */
		border-radius: 8px;
	}

	.left {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		gap: 16px;

		> img:first-of-type {
			width: 50%;
		}

		> img:last-child {
			max-height: 200px;
			width: 100%;
		}
	}
	.center {
		> img {
			height: 100%;
		}
	}
	.right {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 16px;
		height: 100%;
		width: 100%;

		.top {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			height: 100%;

			gap: 16px;

			> img {
				width: calc(50% - 8px);

				&:first-of-type {
					height: 100%;
				}
			}
		}

		.btm {
			width: 100%;
			> img {
				height: 80%;
				width: 100%;
			}
		}
	}
}

/* ANIMATION */

@keyframes show {
	from {
		opacity: 0.1;
		scale: 50%;
	}

	to {
		opacity: 1;
		scale: 110%;
	}
}

.main-container {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 5% cover 50%;
	animation-fill-mode: both;
}

/* MORE PROJECTS */
.more-projects {
	background-color: var(--bg-light-secondary);
	padding: 80px 10vw;
	display: flex;
	flex-direction: column;
	gap: 32px;

	> h1 {
		color: var(--accent-blue);
		font-family: var(--font-accent);
		font-size: 14px;
		font-weight: 500;
	}

	.projects-container {
		display: grid;
		grid-auto-flow: dense;
		grid-auto-rows: min-content;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
		gap: 48px;

		.project {
			display: flex;
			flex-direction: column;
			gap: 48px;

			> img {
				border-radius: 4px;
			}

			.content {
				display: flex;
				flex-direction: column;

				gap: 8px;
				color: var(--text-black);

				> h2 {
					font-size: 18px;
					font-weight: 600;
				}

				> p {
					font-size: 16px;
					font-weight: 400;
					line-height: 150%;
				}
			}
		}
	}
}

/* ABOUT */
section.about {
	font-family: var(--font-accent);
	color: var(--text-white);

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 120px 5vw;

	display: flex;
	flex-direction: column;
	gap: 48px;

	background-image: linear-gradient(180deg, var(--bg-dark-main) 0%, transparent 30%), var(--bg-img-15);
	background-color: var(--bg-dark-main);

	.about-content {
		max-width: 980px;
		padding: 32px;
		border-radius: 8px;

		background-color: var(--bg-dark-secondary);

		@media (max-width: 500px) {
			padding: 4vw;
		}

		> h2 {
			text-transform: uppercase;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%; /* 21px */
		}

		.groups-container {
			display: flex;
			flex-wrap: wrap;
			gap: 40px;

			padding-top: 24px;

			.stack-container {
				display: flex;
				gap: 12px;
				flex-direction: column;

				> h3 {
					color: var(--text-grey);
					font-size: 12px;
					font-weight: 500;
				}

				.stack-group {
					display: flex;
					flex-wrap: wrap;
					height: 100%;
					gap: 8px;

					.stack {
						width: 86px;
						background-color: var(--bg-dark-highlighted);
						display: flex;
						flex-direction: column;
						align-items: center;

						padding: 16px;
						border-radius: 16px;
						gap: 16px;

						> img {
							padding: 6px;
						}

						> p {
							text-align: center;
							font-size: 12px;
							font-weight: 600;
						}

						&:hover {
							background-color: var(--bg-dark-hover);
						}
					}
				}
			}
		}

		&.personal-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 40px;

			background-color: transparent;

			> img {
				width: 150px;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
			}

			.description {
				display: flex;
				flex-direction: column;
				gap: 24px;
				max-width: 500px;

				> h2 {
					text-align: center;
					font-size: 14px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%; /* 21px */
				}

				> p {
					max-width: 57ch;
					opacity: 0.5;
					text-align: center;
					font-size: 14px;
					font-weight: 500;
					line-height: 150%; /* 21px */
				}
			}

			.social-media-container {
				display: flex;
				gap: 40px;

				> .social-media-icon {
					padding: 8px;
					border-radius: 8px;
					display: flex;
					align-items: center;

					& i {
						font-size: 25px;
					}

					&:hover {
						background-color: var(--bg-dark-hover);
						cursor: pointer;
					}
				}
			}
		}

		&.faq {
			display: flex;
			flex-direction: column;
			gap: 16px;

			.question-container {
				display: flex;
				flex-direction: column;
				gap: 24px;
				padding: 24px;
				border-radius: 8px;

				background-color: var(--bg-dark-highlighted);

				font-size: 14px;
				font-weight: 400;
				line-height: 150%; /* 21px */

				@media (max-width: 500px) {
					padding: 16px 4vw;
				}

				.question {
					font-weight: 600;
				}

				.answer > p {
					color: var(--text-grey);
					font-weight: 400;
					margin-bottom: 16px;

					> a {
						color: inherit;
						text-decoration: underline;
						text-decoration-style: dashed;
						text-underline-offset: 3px;
						text-decoration-skip-ink: all;

						&:hover {
							color: var(--text-white);
						}
					}
				}

				/* &:hover {
					background-color: var(--bg-dark-hover);
				} */
			}
		}
	}
}

/* FOOTER */

footer {
	padding: 80px;

	color: var(--text-white);
	background-color: var(--bg-dark-main);
	font-family: var(--font-accent);

	@media (max-width: 900px) {
		padding: 5vw;
	}

	> a.logo {
		font-family: var(--font-main);
		font-size: 40px;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	.btm {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 900px) {
			flex-wrap: wrap;
			gap: 24px;
		}

		.btm-left {
			display: flex;
			flex-wrap: wrap;

			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
			grid-row-gap: 24px;
			grid-column-gap: 80px;
			width: 100%;

			.title-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				> h1 {
					font-family: var(--font-main);
					font-size: 16px;
					font-weight: 800;
					letter-spacing: 0.24px;
					text-transform: uppercase;

					@media (max-width: 500px) {
						font-size: 18px;
					}
				}

				h2 {
					font-weight: 500;
					font-size: 12px;
				}
			}

			.contact-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				font-size: 12px;
				font-weight: 500;

				.location {
					> i {
						margin-right: 8px;
						color: var(--text-grey);
					}
				}

				.copy-email {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 8px;
					width: fit-content;

					> i {
						font-size: 14px;
					}

					&:hover {
						background-color: var(--bg-dark-hover);
						cursor: pointer;
						padding: 2px;
						border-radius: 2px;
					}
				}
			}

			> nav {
				> ul {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					gap: 8px;

					> li {
						margin: 0;
						padding: 0;
						font-size: 12px;
						font-weight: 700;

						&:hover {
							opacity: 0.5;
							cursor: pointer;
						}
					}
				}
			}
		}

		.btm-right {
			font-family: var(--font-accent);
			font-size: 12px;
			font-weight: 700;

			display: flex;
			justify-content: space-between;
			align-items: end;
			flex-direction: column;
			min-width: fit-content;
			gap: 12px;

			> a:hover {
				opacity: 0.5;
			}

			@media (max-width: 900px) {
				align-items: start;
			}
		}
	}
}

/* DROPDOWN */
.dropdown {
	min-width: 150px;

	button {
		width: 100%;
		padding: 4px 12px;
		margin-bottom: 4px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		color: var(--text-black);
		font-weight: 600;
		border: none;
		border-radius: 4px;

		&:hover {
			color: var(--accent-blue);
		}
	}

	.dropdown-options {
		position: relative;

		&[data-is-open="false"] {
			opacity: 0;
		}

		&[data-is-open="true"] {
			opacity: 1;
		}

		button {
			position: absolute;
		}
	}
}

.alert-fade-in {
	animation: alert-fade-in 100ms linear both;
}

@keyframes alert-fade-in {
	0% {
		transform: translateY(-10%);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
		filter: blur(0);
	}
}

/* TEXT REVEAL - ABOUT SECTION */
.scroll-reveal > p {
	opacity: 100% !important;
}

.scroll-reveal span,
.scroll-reveal.social-media-container > .social-media-icon > a > i {
	color: hsl(0 0% 100% / 0.2);

	background-clip: text;
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-image: linear-gradient(90deg, var(--text-white), var(--text-white));

	animation: scroll-reveal linear forwards;
	animation-timeline: view();
}

.scroll-reveal h2 span {
	animation-range-start: 20vh;
	animation-range-end: 30vh;
}

.scroll-reveal p span {
	animation-range-start: 30vh;
	animation-range-end: 50vh;
}

.scroll-reveal > .social-media-icon > a > i.fa-github,
.scroll-reveal > .social-media-icon > a > i.fa-linkedin,
.scroll-reveal > .social-media-icon > a > i.fa-envelope {
	animation-range-start: 30vh;
	animation-range-end: 36vh;
}

@keyframes scroll-reveal {
	to {
		background-size: 100% 100%;
	}
}

/* ALERT - COPIED EMAIL */

.social-media-container {
	position: relative;
}

.social-media-icon:hover {
	opacity: 1;
}

.alert-copied {
	font-size: 16px;
	padding: 4px 16px;
	border-radius: 4px;
	background-color: white;
	color: black;

	position: absolute;
	top: 0;
	right: 0;

	> p {
		min-width: 15ch;
		text-align: center;
		color: var(--accent-blue);
		font-weight: 500;
		font-size: 14px;
	}
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.blur-in-expand {
	animation: blur-in-expand 0.3s linear both;
}

@keyframes blur-in-expand {
	0% {
		transform: scale(0);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		transform: translate(0, calc(-100% - 4px)) scale(1);
		filter: blur(0);
		opacity: 1;
	}
}
