@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  min-width: 320px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* GENERIC */

/* body {
	display: flex;
	place-items: center;
} */

#root {
  width: 100%;
}

a {
  text-decoration: none;
  line-height: 100%;
  display: inline-block;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

ul,
li {
  list-style: none;
}

p {
  text-wrap: pretty;
}
